extends inc/layout

block vars
  - var title='Upgrading'
  - var page='charms-upgrading'

block content
  article.
      <section id ="upgrading">
       <h1>Upgrades</h1>
       <h1>Charm upgrades</h1>
       <h1>Service upgrades</h1>
       <h1>Juju</h1>
      </section>
