extends inc/layout

block vars
  - var title='Charms!'
  - var page='charms'

block content
  article.
    <section id="charms">
      <h1>Introducing Charms</h1>
      <aside>
        <iframe class="youtube-player" type="text/html" width="400" height="300" src="http://www.youtube.com/embed/0AT6qKyam9I" frameborder="0">
        </iframe>
      </aside>
      
      <p>The magic behind Juju is a collection of software components called charms. These are the encapsulated knowledge of how to properly deploy and configure the services you will want to deploy on your cloud. The charms available online in the <a href="">Charm Store</a> represent the distilled DevOps knowledge of experts, and they are freely available for you to use (or you can write your own).</p>
      <p>Charms make it quick and easy to reliably and repeatedly deploy services in your cloud. If you haven't already tried the <a href=""> Juju walkthrough,</a> you should give it a go and see how ridiculously easy it is to deploy services in minutes. </p>
      <p>In many cases, you will simply deploy, configure and expose services in your cloud. The following sections explore in more detail the everyday Juju and Charm operations you are likely to perform </p>
      <ul>

        <li><a href="charms-deploying.html">Deploying services</a></li>


        <li><a href="charms-config.html">Configuring Services</a></li>
        <li><a href="charms-relations.html">Managing Relationships</a></li>
        <li><a href="charms-constraints.html">Using Constraints</a></li>
        <li><a href="charms-scaling.html">Scaling</a></li>
        <li><a href="charms-expose.html">Exposing services</a></li>
        
      </ul>
    </section>


