extends inc/layout

block vars
  - var title='Configuring Juju to work with MAAS'
  - var page='Configuring Juju to work with MAAS'

block content
  article.
   <section id="config_maas">
   <h1>Configuring for MAAS</h1>
   <p>Metal As A Service is software which allows you to deal with physical hardware just as easily as virtual nodes. For more information about MAAS, see <a href="maas.ubuntu.com"> maas.ubuntu.com </a> </p>
   <h1> Get your API key</h1>
   <p>You'll need an API key from MAAS so that the Juju client can access it. Each user account in MAAS can have as many API keys as desired. One hard and fast rule is that you'll need to use a different API key for each Juju environment you set up within a single MAAS cluster.</p>
   <p>To get the API key:</p>

   <ol>
   <li>Go to your MAAS preferences page, or go to your MAAS home page and choose Preferences from the drop-down menu that appears when clicking your username at the top-right of the page.</li>
   <li>Optionally add a new MAAS key. Do this if you're setting up another environment within the same MAAS cluster.</li>
   <li>Copy the key value - you will need it shortly!</li>
   </ol>
   
   <h1> Edit or create the configuration</h1>
   <p>Create or modify <strong>~/.juju/environments.yaml</strong> with the following content:

   <pre><code>
   &nbsp;&nbsp;maas:
   &nbsp;&nbsp;&nbsp;&nbsp;type: maas
   &nbsp;&nbsp;&nbsp;&nbsp;maas-server: 'http://localhost:5240'
   &nbsp;&nbsp;&nbsp;&nbsp;maas-oauth: '$MAAS_API_KEY'
   &nbsp;&nbsp;&nbsp;&nbsp;admin-secret: 'nothing'
   </code></pre>

   <p>Substitute the API key from earlier into the <span class="pre">$MAAS_API_KEY</span> slot. You may need to modify the maas-server setting too; if you're running from the maas package it should be something like "http://hostname.xxxx.yyy/MAAS".</p>
   </section>
