extends inc/layout

block vars
  - var title='Configuring Juju to work with HPCloud'
  - var page='Configuring Juju to work with HPCloud'

block content
  article.
   <section id="config_hpcloud">
   <h1>Configuring for HPCloud</h1>
   <p>You should start by generating a generic configuration file for Juju, using the command:
   <pre><code>juju generate-config -w</code></pre>
   <p>This will generate a file, <strong>environments.yaml</strong>, which will live in your <strong>~/.juju/</strong> directory (and will create the directory if it doesn't already exist).     
   <p>The essential configuration sections for HPCloud look like this:</p>
   <pre><code>
    &nbsp;&nbsp;hpcloud:
    &nbsp;&nbsp;&nbsp;&nbsp;type: openstack
    &nbsp;&nbsp;&nbsp;&nbsp;admin-secret: 6638bebf0c54de791007e0247d4dae98
    &nbsp;&nbsp;&nbsp;&nbsp;control-bucket: juju-bc66a4a4adbee50b2cea6570436528e5
    &nbsp;&nbsp;&nbsp;&nbsp;tenant-name: <strong class="code">"juju-project1"</strong>
    &nbsp;&nbsp;&nbsp;&nbsp;auth-url: <strong class="code">https://region-a.geo-1.identity.hpcloudsvc.com:35357/v2.0</strong>
    &nbsp;&nbsp;&nbsp;&nbsp;default-image-id: <strong class="code">"81078"</strong>
    &nbsp;&nbsp;&nbsp;&nbsp;default-instance-type: "standard.xsmall"
    &nbsp;&nbsp;&nbsp;&nbsp;auth-mode: userpass
    &nbsp;&nbsp;&nbsp;&nbsp;username: <strong class="code">"xxxyour-hpcloud-usernamexxx"</strong>
    &nbsp;&nbsp;&nbsp;&nbsp;password: <strong class="code">"xxxpasswordxxx"</strong>
    &nbsp;&nbsp;&nbsp;&nbsp;region: <strong class="code">az-1.region-a.geo-1</strong>
    &nbsp;&nbsp;&nbsp;&nbsp;public-bucket-url: <strong class="code">https://region-a.geo-1.objects.hpcloudsvc.com/v1/60502529753910</strong>
   </code></pre>
   <p> The items highlighted are values you will need to enter, and are explained below. You will find most of the relevant information on the <a href="https://account.hpcloud.com/account/api_keys"> HP Cloud API Keys page</a></p>
   <ul>
     <li><strong>tenant-name:</strong> For HPCloud, this is listed as the project name on the API keys page.</li>
   </ul>
   <img src="./media/getting_started-hpc-tenant.png" alt="image showing project name">
     
   <ul>
   <li><strong>auth-url:</strong>This is the keystone url for authentication. It is given (on a region by region basis) under the heading "Service Endpoints - identity"
     </li>
   </ul>
   <img src="./media/getting_started-hpc-config1.png" alt="image showing service endpoints">  
   <ul>
     <li><strong>region:</strong> This is the longer format region name, given under the headings for Block Storage and Compute sections.</li>
   </ul>
   <img src="./media/getting_started-hpc-region.png" alt="image showing project name">
   <ul>
     <li><strong>default-image-id:</strong> This is the number assigned to the images available to the HP Cloud. Current;y, these may vary from region to region. The best way to ensure that you have the correct image id is to go to the <a href="https://console.hpcloud.com/compute/az-1_region-a_geo-1/servers"> HP Cloud Console &GT; Servers </a> page and Click on the link to "Create a new server from an image". This will display a list of available images. In the "partner provided images" section you should find a relevant version of Ubuntu. The number in brackets after the image description is the id number you require. </li>
   </ul>
   <img src="./media/getting_started-hpc-image.png" alt="determining the image id number">
   <ul>
     <li><strong>username:</strong> Enter your HP Cloud login username. </li>
     <li><strong>password:</strong> Enter your HP Cloud login password. </li>
     <li><strong>public-bucket-url:</strong> Currently up to date tools are provided to HP Cloud by a public bucket. You should enter the url "https://region-a.geo-1.objects.hpcloudsvc.com/v1/60502529753910" here. </li>
   </section>
