extends inc/layout

block vars
  - var title='Contributing!'
  - var page='contributing'

block content
  article.
    <section id="contributing">
      <h1>How you can contribute!</h1>
      <p>It's a tough job writing documentation which covers every use case and scenario - mainly because Juju is so versatile it can be used in so many ways. That is why we hope to get plenty of feedback from users to help extend, ammend and improve the documentation. It is really easy and you don't have to be the world's best writer. Our grammar goblins will sort out any problems with the words, but your knowledge is very useful to us.
      <h2>Why aren't you using Sphinx/Pandoc/Markdown...?</h2>
      <p>because rather than force everyone to use one system of creating/editing docs, we wanted to be more inclusive and use a pretty easy to understand, well-recognised standard which doesn't restrict what we want to do. You CAN use any of these systems to contribute docs by the way, but just use the HTML output from them to add to the current docs</p>
      <p> The navigation stuff is currently 
      <h1>How to write docs!</h1>
      <p>Contributing to the docs is really easy because it is all written in HTML5. In a very minimal way too - you will find most of the source documents are very straightforward and human-readable, if you just want to dip in and change a paragraph or add some extra infor. 
      <p>Below is a list of the current style conventions in use in the docs.</p>

      
      <p>Text is just written using standard &LT;p&GT; tags</p>

      <h2>Sections</h2>
      <p> All the text is organised into sections. Each section has a heading, possibly subheadings and body text/other elements, so it looks something like this:
      <pre>
       &LT;section id="sectionname"&GT;
       &LT;h1>Heading for section&LT;/h1&GT;
       &LT;p> This is some stuff. &LT;/p&GT;
       &LT;/section&GT;
      </pre> 
      <p>Each section <strong>MUST</strong> have an id. These are used as anchors, and it makes more sense to attach them to sections than individual headings. Even if you think your section will never be referenced (it will!), you should have an id="something")<p>

      <h2>Code</h2>
      <p>Instructions are simply wrapped in &LT;pre&GT; &LT;/pre&GT; tags. There is no need to add any style.</p>
      
      <h2>Highlighted commands in running text</h2>
      For running copy (i.e., when a command or similar appears in the middle of a paragraph) we use the following:
      <pre>
      &LT;span class="pre"&GT; juju deploy minecraft &LT;/span&GT;
      </pre>


      <h2>Notes</h2>
      <p>Notes, other than asides, can be tagged as paragraphs, and begin with the word "Note:" like this:</p>
      <pre>
       &LT;p class="note"&GT;&LT;strong&GT;Note:&LT;/strong&GT;
      </pre>

      <p>It is important to use the class="note" property for the paragraph to pick up the correct style.</p>
      </section>

      
